.header {
  padding: 16px 0;
  margin-bottom: 32px;
  border-bottom: 1px solid #ddd;
  width: 100%;
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    a {
      padding: 8px;
    }

    a.active {
      color: #036fbc;
    }
  }
}
